<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AberOWL Central Server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>AberOWL Ontology Servers</h1>
        <p>A list of currently registered and active AberOWL ontology instances.</p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs" id="queryTabs">
                    <li class="active"><a href="#dlQueryTab" data-toggle="tab">DL Query</a></li>
                    <li><a href="#textSearchTab" data-toggle="tab">Text Search</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="dlQueryTab">
                        <form id="dlQueryForm" onsubmit="return false;">
                            <div class="form-group">
                                <label for="dlQueryInput">Manchester Syntax Query:</label>
                                <input type="text" id="dlQueryInput" class="form-control" placeholder="e.g., 'has part' some 'cell nucleus'">
                                <p class="help-block">
                                    Try:
                                    <a href="#" class="query-example" data-query="'has part' some nucleus">'has part' some nucleus</a>,
                                    <a href="#" class="query-example" data-query="'part of' some 'apoptotic process'">'part of' some 'apoptotic process'</a>,
                                    <a href="#" class="query-example" data-query="regulates some 'calcium ion transport'">regulates some 'calcium ion transport'</a>
                                </p>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="submit" name="type" value="subclass" class="btn btn-primary">Subclasses</button>
                                <button type="submit" name="type" value="superclass" class="btn btn-primary">Superclasses</button>
                                <button type="submit" name="type" value="equivalent" class="btn btn-primary">Equivalent</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="textSearchTab">
                        <form id="textSearchForm" onsubmit="return false;">
                            <div class="form-group">
                                <label for="textSearchInput">Search Term:</label>
                                <input type="text" id="textSearchInput" class="form-control" placeholder="e.g., cell, apoptosis">
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>Filter by Ontology</h4>
                <div id="ontologyFilterCheckboxes" class="ontology-filter-container">
                    <!-- Ontology checkboxes will be populated here -->
                </div>
            </div>
            <div class="col-md-9">
                <div id="resultsContainer" style="display: none;">
                    <h4>Query Results <span id="resultsCount" class="badge">0</span></h4>
                    <div class="form-group">
                        <input type="text" id="resultsFilterInput" class="form-control" placeholder="Filter results by text...">
                    </div>
                    <ul id="resultsList" class="list-group">
                        <!-- Results will be inserted here -->
                    </ul>
                    <nav id="paginationContainer">
                        <ul class="pagination">
                            <!-- Pagination links will be inserted here -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="text" id="searchInput" class="form-control" placeholder="Search for ontologies...">
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="sortable" data-sort="ontology">Ontology <i class="glyphicon glyphicon-sort"></i></th>
                    <th class="sortable" data-sort="title">Title <i class="glyphicon glyphicon-sort"></i></th>
                    <th class="sortable" data-sort="description">Description <i class="glyphicon glyphicon-sort"></i></th>
                    <th class="sortable" data-sort="class_count">Classes <i class="glyphicon glyphicon-sort"></i></th>
                    <th class="sortable" data-sort="property_count">Properties <i class="glyphicon glyphicon-sort"></i></th>
                    <th class="sortable" data-sort="status">Status <i class="glyphicon glyphicon-sort"></i></th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody id="serversTableBody">
                <!-- Rows will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>
